// COPPER_GREY
$copper-grey-900: #002633
$copper-grey-800: #0E3845
$copper-grey-700: #225161
$copper-grey-600: #386474
$copper-grey-500: #568696
$copper-grey-400: #8BB2BF
$copper-grey-300: #C8DCE3
$copper-grey-200: #E1ECF1
$copper-grey-100: #F3F6F7
$copper-grey-50: #F9FBFB

// COPPER
$copper-900: #000F1F
$copper-800: #00223B
$copper-700: #003A57
$copper-600: #005774
$copper-500: #1D7C8F
$copper-400: #419FB0
$copper-300: #70C1CF
$copper-200: #A1DFE9
$copper-100: #D3F1F5
$copper-50: #EBF9FB

// ORANGE
$orange-900: #742612
$orange-800: #933012
$orange-700: #B6400F
$orange-600: #D2530C
$orange-500: #FF6A00
$orange-400: #FF8E2F
$orange-300: #FFBA76
$orange-200: #FFE1BE
$orange-100: #FFF5E8
$orange-50: #FFF9E8

// PEACH
$peach-200: #F2D5AE
$peach-100: #FFF2DE

// OTHER
$green-600: #38A169
$red-800: #DB2828
$yellow-100: #FCF8EC

// SEPARATOR
$separator-color: $copper-grey-200
$table-border-color: $copper-grey-300

$primary: $copper-500
$secondary: $orange-500
$negative: $red-800
